<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Remote Academy</title>
		<!-- External CSS -->
		<!-- <link rel="stylesheet" href="./css/main.css"> -->
		<!-- Carousel css -->
		<link rel="stylesheet" href="./../css/main.css">
		<link rel="stylesheet" href="../../css/carousel.css">
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
		<!-- Font Awesome Icons -->
		<script src="https://kit.fontawesome.com/15d5694a8d.js"></script>
		<style>
			.course {
				width: 25%;
				padding: 20px;
				margin-top: 100px;
				float: center;
				}

				[class*="col-"] {
				float: center;
				padding: 15px;
				}

				.row::after {
				content: "";
				clear: both;
				display: table;
				}

				* {
				box-sizing: border-box;
				}

				hr {
					margin-top: -30px;
					width: 50px;
					text-align: center;
				}

				.course-contents {
				margin: 0 10px 0 10px;
				
				}

				.row{
					margin-bottom: 10px;
				}

				a:hover {
					box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
				}

				

				@media only screen and (max-width: 768px) {
				.course {
					width: 50%;
					position: relative;
					margin-bottom: 20px;
					height: inherit;
				}
				.link {
					margin: 0;
				}
				}
		</style>
	</head>
	<body>
		<div class="nav-bar">
			<ul>
				<li><a class="working" href="/users/register">Register</a></li>
				<li><a href="/users/login">Log in</a></li>
				<li><a href="#About">About Us</a></li>
				<li><a href="/courses/new">Teach Here</a></li>
				<li><a href="#Alumni">Alumni</a></li>
				<li class="right"><a href="/">Remote Academy</a></li>
				<li class="dropdown">
					<a href="javascript:void(0)" class="dropbtn">Courses</a>
					<div class="dropdown-content">
						<a href="/courses">All Courses</a>
						<a href="/courses">Data Science/Machine Learning</a>
						<a href="/courses">Mobile Development</a>
						<a href="/courses">Web Development</a>
					</div>
				</li>
			</ul>
		</div><br><br>

		<!-- <div class="carousel-wrapper">
      <div class="carousel">

      <img class="carousel__photo initial" src="https://res.cloudinary.com/dqpoj0kcn/image/upload/c_scale,h_652,w_1024/v1567175415/blurred-background-coffee-cup-contemporary-908284.jpg">
      <img class="carousel__photo" src="https://res.cloudinary.com/dqpoj0kcn/image/upload/c_scale,h_652,w_1024/v1567175466/chairs-developer-development-1181376_1.jpg">
      <img class="carousel__photo" src="https://res.cloudinary.com/dqpoj0kcn/image/upload/c_scale,h_652,w_1024/v1567175469/coaching-coders-coding-7374.jpg">
      <img class="carousel__photo" src="http://placekitten.com/g/1600/900">
      <img class="carousel__photo" src="http://placekitten.com/1600/900">

      <div class="carousel__button--next"></div>
      <div class="carousel__button--prev"></div> -->

      </div>
    </div>