<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Form Style 8</title>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<script type="text/javascript">
//auto expand textarea
function adjust_textarea(h) {
    h.style.height = "45px";
    h.style.height = (h.scrollHeight)+"px";
}
</script>
<style>
body{
	background: #348A96;
}

</style>
</head>

<body>

<div class="form-style-8">
  <h1>Dashboard</h1>
  <p>Welcome <%= firstname %></p>
  <a href="/users/logout">Logout</a>
</div>

</body>
</html>
