<% include partials/header %>
<div class="user_detail">
    <div class="user_content">
      <p class="learn_username"><span class="name"><%= firstname %> <%= lastname %></span></p>
      <div class="logout">
        <p style="float: left;; font-size: 36px"><%= course.title %></p>
        <a class="log" href="/users/logout">Logout</a>
      </div>
    </div>
  </div>

<div class="video" style="margin-left: 20%; margin-top: 0%">
  <video width="1000" height="700" controls>
    <source src="<%= course.video %>" type="video/mp4">
  </video>
</div>

<% include partials/footer %>